* {
  margin: 0;
  padding: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
  background-color:cadetblue;
}

header, footer {
  width: 100%;
  background-color:skyblue;
  color: seashell;

}

.header__container {
  width: 100%;
  padding: 20px 0;
}

.header__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10%;
  list-style: none;
}

.header__list > li > a {
  text-decoration: none;
  color: #f2f2f2;

}

main {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.head-title {
  margin: 2.5% 0;
  width: 100%;
  border-bottom: 2px solid #000;
}

.head-title > h2 {
  font-size: 30px;
}

.main__container-first, .main__container-second {
  width: 50%;
  margin: 0.5% 0;
}

/* .main__container-second {
  border-left: 5px solid gray;
} */

section {
  margin:0 5%;
}

.main__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.main__info-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.info__img {
  margin-right: 10px;
}

.info__img img{
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

.info__headings {
  text-align: center;
  text-transform: uppercase;
}

.info__headings > h1 {
  font-size: 30px;
}

.info__surname {
  font-size: 25px;
  font-weight: bold;
}

.info__headings > h2 {
  font-size: 18px;
  font-weight: lighter;
}

.info__motivation {
  margin-left: 3%;
}

ul > li {
  color: black;
  list-style: none;
}

li > a {
  color: #000;
  font-size: 20px;
  text-decoration: none;
}

.skills-list {
  list-style: circle;
}

.main__skills-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.skills__programming, .skills__languages {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.skills__programming > ul, .skills__languages > ul {
  text-align: right;
  font-size: 20px;
}

.main__works-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main__works-container > ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.education-years, .education-title {
  margin: 1% 0;
}

.education-years {
  text-align: right;
}

footer {
  color: seashell;
}

.footer__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 1% 5% 0;
  padding: 1% 0;
}

.footer-github > a{
  color: snow;
  text-decoration: none;
}

.footer-rsschool > a > img {
  width: 100px;
  height: 50px;
}